<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home.css" />
    <title>Home</title>
  </head>
  <body>
    <section id="order-tab">
      <article id="product-categories">
        <p>Bar</p>
        <p>Kitchen</p>
        <p>Swimmng</p>
      </article>
      <article id="product-sub-categories">
        <p>Wine</p>
        <p>Beer</p>
        <p>Whiskey</p>
      </article>
      <article id="product-lists">
        <p>Tusker Cider</p>
        <p>Tusker Lager</p>
        <p>Tusker Malt</p>
        <p>White cap</p>
        <p>Balozi</p>
        <p>Guiness</p>
      </article>
    </section>
    <section id="receipt-tab">
      <header>
        <p>QTY</p>
        <p>ITEM</p>
        <p>Total</p>
      </header>
      <article id="receipt-items">
        <div>
          <p>2</p>
          <p>Tusker Cider</p>
          <p>500</p>
        </div>
        <div>
          <p>2</p>
          <p>Tusker Lager</p>
          <p>500</p>
        </div>
      </article>
      <footer>
        <p>Total:</p>
        <p>12000</p>
      </footer>
    </section>
  </body>
</html>
