<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <section>
      <button>Add category</button>
      <button>Add sub category</button>
      <button>Add Product</button>
    </section>
    <section id="add-categories">
        <input type="text" placeholder="Enter product name"/>
        <button>Add category</button>
    </section>
    <section id="add-sub-categories">
        <select>
            <option>Bar</option>
            <option>Kitchen</option>
            <option>Swimming</option>
        </select>
        <input type="text" placeholder="Enter sub category name"/>
    </section>
    <section id="add-Product">
        <section id="add-sub-categories">
            <select>
                <option>Kitchen</option>
                <option>Bar</option>
                <option>Swimming</option>
            </select>
            <section id="add-sub-categories">
                <select>
                    <option>Wine</option>
                    <option>Whiskey</option>
                    <option>Rum</option>
                </select>
                <input type="text" placeholder="Enter product name"/>
    </section>
  </body>
</html>
